    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detail Karyawan
        <small>Detail Karyawan Registrasi-{$dataKaryawan->employee_ID}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Karyawan</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <!-- <div class="box-header">
              <h3 class="box-title">Detail Karyawan</h3>
            </div> -->
            <div class="box-body">
              <div class=" col-md-12 col-lg-12 ">
                <table class="table table-user-information">
                    <tbody>
                      <tr>
                          <td>No. Registrasi:</td>
                          <td>{$dataKaryawan->employee_ID}</td>
                      </tr>
                      <tr>
                          <td>Nama:</td>
                          <td>{$dataKaryawan->employee_name}</td>
                      </tr>
                      <tr>
                          <td>Posisi:</td>
                          <td>{$dataKaryawan->position_name}</td>
                      </tr>
                      <tr>
                          <td>Departemen:</td>
                          <td>{$dataKaryawan->department}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title">List training yang diikuti</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nama Training</th>
                  <th>Jenis - Kategori</th>
                  <th>Tanggal</th>
                  <th>Pre-Test</th>
                  <th>Post-Test</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                  {foreach from=$dataTraining key=$field item=$value}
                  {$style = ''}
                  {if $value->pre_test < 70 && $value->post_test == 0}
                    {$style = 'color:#CF2525; font-weight: bold;'}
                  {elseif $value->pre_test >= 70 && $value->post_test == 0}
                    {$style = 'color:green; font-weight: bold;'}
                  {elseif $value->post_test < 70}
                    {$style = 'color:#CF2525; font-weight: bold;'}
                  {elseif $value->post_test >= 70}
                    {$style = 'color:green; font-weight: bold;'}
                  {/if}
                  {$class = ''}
                  {if $value->jenis == 'bersertifikat'}
                    {$class = 'label-danger'}
                  {elseif $value->jenis == 'teknikal'}
                    {$class = 'label-info'}
                  {elseif $value->jenis == 'generic'}
                    {$class = 'label-success'}
                  {/if}
                  {$classBadge = ''}
                  {if $value->kategori == 'training'}
                    {$classBadge = 'bg-yellow'}
                  {elseif $value->kategori == 'refresh'}
                    {$classBadge = 'bg-lime'}
                  {elseif $value->kategori == 'sosialisasi'}
                    {$classBadge = 'bg-blue'}
                  {/if}
                  <tr style="{$style}">
                    <td>
                      <a href="{base_url()}training/id/{$value->training_id}">{$value->training_name}</a>
                    </td>
                    <td>
                      <span class="label {$class}">{$value->jenis}</span> -
                      <span class="badge {$classBadge}">{$value->kategori}</span>
                    </td>
                    <td>
                      {$value->tanggal}
                    </td>
                    <td>
                        {if $value->kategori == 'training'}
                          {$value->pre_test}
                        {else}
                          -
                        {/if}
                    </td>
                    <td>
                      {if $value->kategori == 'training' || $value->kategori == 'refresh'}
                        {$value->post_test}
                      {else}
                        -
                      {/if}
                    </td>
                    <td>
                      {if $value->kategori == 'training' || $value->kategori == 'refresh'}
                        {$value->status}
                      {else}
                      -
                      {/if}
                    </td>
                  </tr>
                  {/foreach}
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">List pernah menjadi trainer</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nama Training</th>
                  <th>Tanggal Training</th>
                  <th>Durasi</th>
                </tr>
                </thead>
                <tbody>
                  {$total = 0}
                  {foreach from=$dataTrainer key=$field item=$value}
                  <tr>
                    <td>{$value->nama}</td>
                    <td>{$value->tanggal}</td>
                    <td>{$value->durasi}</td>
                  </tr>
                  {$total = $total + $value->durasi}
                  {/foreach}
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Total : {$total}</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->