{if !isset($dataKaryawan) || $dataKaryawan == null}
<tr>
	<td colspan="4">Tidak ada Karyawan</td>
</tr>
{else}
{foreach from=$dataKaryawan key=$field item=$value }
	<tr>
		<td><input type="checkbox" name="karyawan[]" class="checkthis" value="{$value->employee_ID}" /></td>
		<td>{$value->employee_ID}</td>
		<td>{$value->employee_name}</td>
		<td>{$value->position_name}</td>
	</tr>
{/foreach}
{/if}