<section class="content-header">
  <h1>
    Karyawan
    <small>List Karyawan Garuda Food</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#">Karyawan</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- <div class="box-header">
          <h3 class="box-title">List Karyawan</h3>
        </div> -->
        <!-- /.box-header -->
        <div class="box-body">
          <table id="table2" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Reg</th>
              <th>Nama</th>
              <th>Departemen</th>
              <!-- <th>Action</th> -->
            </tr>
            </thead>
            <tbody>
            {foreach from=$dataKaryawan key=field item=value}
              <tr>
                <td><a href="{base_url()}karyawan/id/{$value->employee_ID}">{$value->employee_ID}</a></td>
                <td>{$value->employee_name}</td>
                <!-- <td>Bagian A</td> -->
                <td>{$value->department}</td>
                <!-- <td>
                  <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                  <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Hapus</button>
                </td> -->
              </tr>
            {/foreach}
            </tbody>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Nama</th>
              <th>Departemen</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
<!-- /.content --> 
<script type="text/javascript">
  $('#table2').DataTable();
</script>