<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {$dataDepartemen->nama}
    <small>Detail departemen {$dataDepartemen->nama}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#">Departemen</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
                <tbody>
                  <tr>
                      <td>Nama Departemen:</td>
                      <td><input type="hidden" name="id" id="idDepartemen" value="{$dataDepartemen->id}">{$dataDepartemen->nama}</td>
                  </tr>
                  <tr>
                      <td>Keterangan</td>
                      <td>{$dataDepartemen->keterangan}</td>
                  </tr>
                  <tr>
                      <td>Jumlah Training:</td>
                      <td>2</td>
                  </tr>
                  <tr>
                      <td>Jumlah Karyawan:</td>
                      <td>{$dataDepartemen->jumlahKaryawan}</td>
                  </tr>
                </tbody>
            </table>
            <div class="col-md-5">
              <a href="{base_url()}departemen/edit/{$dataDepartemen->id}"><button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button></a>
              <a href="#"><button id="btnHapus" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Statistik jumlah peserta tiap departemen</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="barChart" style="height:400px"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List training yang diikuti</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nama Training</th>
              <th>Tanggal Training</th>
              <th>Jumlah Peserta</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              {foreach from=$dataTraining key=$field item=$value}
              <tr>
                <td>{$value->nama}</td>
                <td>{$value->tanggalTraining}</td>
                <td>{$value->peserta}</td>
                <td>
                  <a href="{base_url()}training/id/{$value->training_id}/departemen/{$dataDepartemen->nama}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Lihat Training</button></a>
                </td>
              </tr>
              {/foreach}
            </tbody>
            <tfoot>
            <tr>
              <th>Nama Training</th>
              <th>Tanggal Training</th>
              <th>Jumlah Peserta</th>
              <th>Action</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
{literal}
<script type="text/javascript">
$('#btnHapus').click(function(){
  var id = $('#idDepartemen').val();
  console.log(id);
  swal({
    title: 'Hapus Departemen',
    type: 'info',
    html:
      'anda yakin ingin menghapus Departemen ini ?',
    confirmButtonColor: '#d33',
    showCloseButton: true,
    showCancelButton: true,
    confirmButtonText:
      '<i class="fa fa-check"></i> Hapus!',
    cancelButtonText:
      'Cancel'
  }).then(function () {
    hapusDepartemen(id);
  });
});

function hapusDepartemen(id){
    var url = "http://localhost/training/departemen/hapus"; 
    $.ajax({
      type: "POST",
      url: url,
      data: {'id' : id}, 
      success: function(data){
        if(data == 'true'){
         swal('Sukses', 'Berhasil menghapus Departemen', 'success').then(function (){
          location.href="http://localhost/training/dashboard";
         });
        }else{
          swal('Gagal', 'Gagal menghapus Departemen', 'error');
        }
      },
      error: function(xhr, textStatus, errorThrown){
        swal('Gagal', 'Gagal menghapus Departemen', 'error');
      }
    });
};
</script>
{/literal}