
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Departemen
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{base_url()}departemen">Departemen</a></li>
        <li><a href="{base_url()}departemen/edit">Edit Departemen</a></li>
        <li><a href="#">Nama Departemen</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="box box-primary" style="padding: 10px;">
              <div class="box-body">
              <form role="form" id="formInput" class="form-horizontal" action="{base_url()}departemen/proses_edit" method="post">
                <div class="form-group">
                  <label  for="InputName" class="control-label col-md-3">Nama Departemen</label>
                  <div class="col-md-8">
                    <input type="hidden" value="{$dataDepartemen->id}" name="id">
                    <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Masukkan nama departemen" value="{$dataDepartemen->nama}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputDate" class="control-label col-md-3">Keterangan</label>
                  <div class="col-md-8">
                  <input type="text" name="keterangan" class="form-control pull-right" id="InputKeterangan" placeholder="Masukkan informasi departemen" value="{$dataDepartemen->keterangan}">
                  </div>
                </div>
                
                <div class="control-group">
                <label class="col-md-3 control-label" for="singlebutton"> </label>
                  <div class="control col-md-8">
                    <button type="submit" class="btn btn-success">Edit</button>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">

              </div>
            </form>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->