<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Departemen
    <small>List Departemen Garuda Food</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{base_url()}dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{base_url()}departemen">Departemen</a></li>
    <li><a href="#">Tambah Departemen</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Tambah Departemen</h3>
        </div>
          <form role="form" id="formInput" action="{base_url()}departemen/proses_add" method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="InputNama">Nama Departemen</label>
                <input type="text" class="form-control" id="InputNama" name="nama" required placeholder="Masukkan nama departemen">
              </div>
              <div class="form-group">
                <label for="InputKeterangan">Keterangan</label>
                <input type="text" class="form-control" id="InputKeterangan" name="keterangan" required placeholder="Masukkan informasi departemen">
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
        </form>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $("#formInput").submit(function(e) {
    var url = "http://localhost/training/departemen/proses_add"; 
    $.ajax({
      type: "POST",
      url: url,
      data: $("#formInput").serialize(), 
      success: function(data){
        if(data == 'true'){
         swal('Sukses', 'Berhasil menambahkan Departemen', 'success'); 
        }else{
          swal('Gagal', 'Gagal menambahkan Departemen', 'error');
        }
      }, 
      error: function(xhr, textStatus, errorThrown){
        swal('Gagal', 'Gagal menambahkan Departemen', 'error');
      }
    });
    e.preventDefault(); 
  });
</script>