    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Departemen
        <small>List Departemen Garuda Food</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Departemen</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">List Departemen</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="table1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nama Departemen</th>
                  <th>Keterangan</th>
                  <th>Jumlah Karyawan</th>
                  <th>Jumlah Training</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$dataDepartemen key=field item=values}
                  <tr>
                    <td>{$values->nama}</td>
                    <td>{$values->keterangan}</td>
                    <td>{$values->jumlahKaryawan}</td>
                    <td>{$values->jumlahTraining}<input type="hidden" name="id" id="idDepartemen" value="{$values->id}"></td>
                    <td>
                      <a href="{base_url()}departemen/id/{$values->id}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> View</button></a>
                    </td>
                  </tr>
                  {/foreach}
                </tbody>
                <tfoot>
                <tr>
                  <th>Nama Departemen</th>
                  <th>Keterangan</th>
                  <th>Jumlah Karyawan</th>
                  <th>Jumlah Training</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->