<style type="text/css">
  .btn-outline{
    border:1px solid blue;
  }
</style>
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Dashboard Database Training</small>
      </h1>
    </section>
    <section class="content">
<!--Box -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Karyawan</span>
              <span class="info-box-number">{$countKaryawan}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-building-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Departemen</span>
              <span class="info-box-number">{$countDepartemen}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-file-text-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Training</span>
              <span class="info-box-number">{$countTraining}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Training tahun 2017</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-es-12 col-sm-12 col-md-12 col-lg-12 connectedSortable">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-inbox"></i> Training tahun 2017</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>

            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">
                    <strong>Training: 1 Jan, 2014 - 31 Dec, 2017</strong>
                  </p>

                  <div class="chart " id="revenue-chart" style="position: relative; height: 280px; padding:10px;">
                    <canvas id="barChart" style="min-height:260px; height: 270px;"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
              </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-12 col-xs-12">
                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <!-- <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span> -->
                      <h5 class="description-header text-green">{$countTraining}</h5>
                      <span class="description-text">Jumlah Tryout</span>
                    </div>
                  </div>

                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <!-- <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span> -->
                      <h5 class="description-header text-red" id="totalBiaya">{$totalBiaya}</h5>
                      <span class="description-text">Total Biaya 1 Tahun</span>
                    </div>
                  </div>

                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <a href="{base_url()}dashboard/export_training"><button type="button" class="btn btn-primary btn-outline"><i class="fa fa-file-excel-o"></i> Export</button></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-es-12 col-sm-12 col-md-12 col-lg-12 connectedSortable">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Tahun terakhir</a></li>
              
              <li class="pull-left header"><i class="fa fa-inbox"></i> Training</li>
            </ul>
            <div class="tab-content no-padding">
              
            </div>
            
          </div>
        </div> -->

        <div class="col-es-12 col-sm-12 col-md-12 col-lg-12 connectedSortable">
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#departemen-bar-chart" data-toggle="tab">Jumlah tahun terakhir</a></li>
              <!-- <li><a href="#departemen-pie-chart" data-toggle="tab">Pie</a></li> -->
              <li class="pull-left header"><i class="fa fa-inbox"></i> Departemen</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="departemen-bar-chart" style="position: relative; min-height: 280px; padding:5px;">
                <canvas id="barChart2" style="min-height:250px"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-es-12 col-sm-12 col-md-6 col-lg-6 connectedSortable">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#karyawan-bar-chart" data-toggle="tab">Batang</a></li>
              <li><a href="#karyawan-pie-chart" data-toggle="tab">Pie</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Karyawan</li>
            </ul>
            <div class="tab-content no-padding">
              <div class="chart tab-pane active" id="karyawan-bar-chart" style="position: relative; min-height: 280px; padding:10px;">
                <canvas id="barChart3" style="min-height:200px"></canvas>
              </div>
              <div class="chart tab-pane" id="karyawan-pie-chart" style="position: relative; height: 200px;">

              </div>
            </div>
          </div>
        </div> -->

        <div class="col-es-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Training Terbaru</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Nama Training</th>
                    <th>Tanggal</th>
                    <th>Jenis</th>
                    <th>Jumlah Peserta</th>
                  </tr>
                  </thead>
                  <tbody>
                  {foreach from=$lastFiveTraining key=$field item=$value}
                  {$class = ''}
                  {if $value->jenis == 'bersertifikat'}
                    {$class = 'label-danger'}
                  {elseif $value->jenis == 'teknikal'}
                    {$class = 'label-info'}
                  {elseif $value->jenis == 'generic'}
                    {$class = 'label-success'}
                  {/if}
                  <tr>
                    <td><a href="{base_url()}training/id/{$value->id}">{$value->nama}</a></td>
                    <td>{$value->tanggal}</td>
                    <td><span class="label {$class}">{$value->jenis}</span></td>
                    <td>20</td>
                  </tr>
                  {/foreach}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="{base_url()}training/add" class="btn btn-sm btn-info btn-flat pull-left">Tambah Training</a>
              <a href="{base_url()}training" class="btn btn-sm btn-default btn-flat pull-right">Lihat Semua Training</a>
            </div>
            <!-- /.box-footer -->
          </div>
        </div>

      </div>
      </section>