<section class="content">
	<div class="row">
		<div class="col-xs-12 col-lg-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Add Account</h3>
				</div>
				<div class="box-body">
					<form class="form-horizontal" id="formInput" method="post">
						<div class="form-group">
							<label for ='inputEmail' class="control-label col-md-2">Email</label>
							<div class="col-md-8">
								<input id="inputEmail" name="email" class="form-control" type="text" required placeholder="Masukkan Email">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputUsername' class="control-label col-md-2">Username</label>
							<div class="col-md-8">
								<input id="inputUsername" name="username" class="form-control" type="text" required placeholder="Masukkan Username">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputFirstname' class="control-label col-md-2">First Name</label>
							<div class="col-md-8">
								<input id="inputFirstname" name="firstname" class="form-control" type="text" required placeholder="Masukkan Nama Awal">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputLastname' class="control-label col-md-2">Last Name</label>
							<div class="col-md-8">
								<input id="inputLastname" name="lastname" class="form-control" type="text" required placeholder="Masukkan Nama Terakhir">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputPassword' class="control-label col-md-2">Password</label>
							<div class="col-md-8">
								<input id="inputPassword" name="password" class="form-control" type="password" required placeholder="Masukkan Password">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputConfirmation' class="control-label col-md-2">Password Confirmation</label>
							<div class="col-md-8">
								<input id="inputConfirmation" name="confirmation" class="form-control" type="password" required placeholder="Masukkan Password Konfirmasi">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2"></label>
							<div class="col-md-1">
								<a href="{base_url()}admin"><button type="button" class="btn btn-primary" ><i class="fa fa-chevron-left"></i><strong> </strong>Back
								</button></a>
							</div>
							<div class="col-md-1">
								<button type="submit" class="btn btn-success"><i class="fa fa-save"></i><strong> </strong>Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>