<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title col-md-2">Admin Account</h3>
					<div>
						<a href="{base_url()}admin/add"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i><strong> </strong> Add</button></a>
					</div>
				</div>
				<div class="box-body">
					<div class="row">
					  	<div class=" col-md-12 col-lg-12 ">
							<table class="table table-striped table-bordered" id="table1">
								<thead>
									<tr>
										<th></th>
										<th>Username</th>
										<th>Email</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Created At</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th></th>
										<th>Username</th>
										<th>Email</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Created At</th>
									</tr>
								</tfoot>
								<tbody>
									{foreach from=$adminData key=$field item=$value}
									<tr>
										<td>
											<a href="{base_url()}admin/edit/{$value->id}">
												<button type="button" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>
											</a>
											<button type="button" class="btn btn-danger btn-sm" data-id="{$value->id}"><i class="fa fa-trash"></i></button>
											<button type="button" class="btn btn-primary btn-password btn-sm" data-id="{$value->id}"><i class="fa fa-key"></i> Ubah Password</button>
										</td>
										<td class="username">{$value->username}</td>
										<td class="email">{$value->email}</td>
										<td class="first_name">{$value->first_name}</td>
										<td class="last_name">{$value->last_name}</td>
										<td class="created_on">{$value->created_on}</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="block-edit">
		<form method="post" id="formEditPass" role="form" action="" class="form-horizontal">
			<div class="col-lg-6 col-xs-12">
			  <div class="box box-success">
			    <div class="box-header">
			      <h3 class="box-title">Ganti Password</h3>
			    </div>
			    <div class="box-body">
		    		<div class="form-group">
						<label for="inputUsername" class="control-label col-md-4"> Username : </label>
						<div class="col-md-7">
							<input type="hidden" name="id" id="idAkun">
							<input type="hidden" name="email" id="inputEmail">
							<input type="text" class="form-control" id="inputUsername" disabled="true">
						</div>
					</div>
					<div class="form-group">
						<label for="inputOldPass" class="control-label col-md-4"> Password Lama : </label>
						<div class="col-md-7">
							<input type="password" name="old_pass" class="form-control" id="inputOldPass">
						</div>
					</div>
					<div class="form-group">
						<label for="inputNewPass" class="control-label col-md-4"> Password Baru : </label>
						<div class="col-md-7">
							<input type="password" name="new_pass" class="form-control" id="inputNewPass">
						</div>
					</div>
					<div class="form-group">
						<label for="inputKonfirmasi" class="control-label col-md-4"> Password Konfirmasi : </label>
						<div class="col-md-7">
							<input type="password" name="konfirmasi_pass" class="form-control" id="inputKonfirmasi">
						</div>
					</div>
			    </div>
			    <div class="box-footer">
			    	<button class="btn btn-primary pull-right" type="submit"><i class="fa fa-edit"></i> Edit</button>
			    </div>
			  </div>
			</div>
		</form>
	</div>
</section>
<script type="text/javascript">
	$('#block-edit').hide();

	$('.btn-password').click(function(){
		$('#block-edit').show();
		let id 			= $(this).attr('data-id');
		let username 	= $(this).closest('tr').children('td.username').text();
		let email 		= $(this).closest('tr').children('td.email').text();

		$('#idAkun').val(id);
		$('#inputEmail').val(email);
		$('#inputUsername').val(username);
	});

	$('#formEditPass').submit(function(e){
		let isValid = false;
		// let data = $("#formEditPass").serialize();
		let old_pass 		= $('#inputOldPass').val();
		let new_pass 		= $('#inputNewPass').val();
		let confirmation 	= $('#inputKonfirmasi').val();

		if(new_pass === confirmation){
			isValid = true;
		}
		if(isValid){
			var url = "{base_url()}admin/edit_password";
			$.ajax({
				type: "POST",
				url: url,
				data: $("#formEditPass").serialize(), 
				success: function(data)
				{
				  if(data == 'true'){
				   swal('Sukses', 'Berhasil mengganti password', 'success').then(function(){
							location.reload(false);
						});
				  }else{
				    swal('Gagal', 'Gagal mengganti password, password yang lama tidak sama', 'error').then(function(){
							location.reload(false);
						});
				  }
				},
				error: function(xhr, textStatus, errorThrown){
				  swal('Gagal', 'Gagal mengganti password', 'error').then(function(){
						location.reload(false);
					});
				}
			});
		}
		e.preventDefault(); // avoid to execute the actual submit of the form.
	});

	$('.btn-danger').click(function(){
		let id = $(this).attr('data-id');
		swal({
	      title: 'Hapus Akun',
	      type: 'info',
	      html:
	        'anda yakin ingin menghapus Akun ini ?',
	      confirmButtonColor: '#d33',
	      showCloseButton: true,
	      showCancelButton: true,
	      confirmButtonText:
	        '<i class="fa fa-check"></i> Hapus!',
	      cancelButtonText:
	        'Cancel'
	    }).then(function () {
	      hapusAkun(id);
	    });
	})

	function hapusAkun(id) {
		let url = "http://localhost/training/admin/delete";
		{literal}
		$.ajax({
	       	type: "POST",
	       	url: url,
	       	data: {id: id},
	       	success: function(data)
	       	{
	          if(data == 'true'){
	           swal('Sukses', 'Berhasil menghapus Training', 'success').then(function(){
	           	location.reload();
	           }); 
	          }else{
	            swal('Gagal', 'Gagal menghapus Training', 'error').then(function(){
	           	location.reload();
	           }); 
	          }
	       	},
	       error: function(xhr, textStatus, errorThrown){
	          swal('Gagal', 'Gagal menghapus Training', 'error').then(function(){
	           	location.reload();
	           }); 
	      	}
	    });
	    {/literal}
	}
</script>