<section class="content">
	<div class="row">
		<div class="col-xs-12 col-lg-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Edit Account</h3>
				</div>
				<div class="box-body">
					<form class="form-horizontal" id="formInput" method="post" action="{base_url()}admin/proses_edit/{$adminData->id}">
						<div class="form-group">
							<label for ='inputUsername' class="control-label col-md-2">Username</label>
							<div class="col-md-8">
								<input name="username" class="form-control" type="text" required placeholder="Masukkan Username" value="{$adminData->username}">
								<input type="hidden" name="id" value="{$adminData->id}">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputUsername' class="control-label col-md-2">First Name</label>
							<div class="col-md-8">
								<input name="firstname" class="form-control" type="text" required placeholder="Masukkan Nama Awal" value="{$adminData->first_name}">
							</div>
						</div>
						<div class="form-group">
							<label for ='inputUsername' class="control-label col-md-2">Last Name</label>
							<div class="col-md-8">
								<input name="lastname" class="form-control" type="text" required placeholder="Masukkan Nama Terakhir" value="{$adminData->last_name}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2"></label>
							<div class="col-md-1">
								<a href="{base_url()}admin"><button type="button" class="btn btn-primary" ><i class="fa fa-chevron-left"></i><strong> </strong>Back
								</button></a>
							</div>
							<div class="col-md-1">
								<button type="submit" class="btn btn-success"><i class="fa fa-save"></i><strong> </strong>Edit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>