<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Setting</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Info Satuan Narkoba</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$info_satnarkoba}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/1">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Info Satuan Sabhara</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$info_satsabhara}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/2">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Info Satuan Intelkam</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$info_satintelkam}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/3">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Info Satuan Binmas</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$info_satbinmas}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/4">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Info Satuan Lalu Lintas</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$info_satlantas}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/5">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">Nama Website</label>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {$website_name}
                        </div>
                    </div>
                    <div>
                        <a href="{base_url()}configs/index/edit/6">
                            <button type="button" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2" for="nama">Logo</label>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{assets_url()}/uploads/images/{$logo}" alt="Logo Image">
                    </a>
                </div>
                <div>
                    <a href="{base_url()}configs/index/edit/7">
                        <button type="button" class="btn btn-default btn-flat">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>