
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Training
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{base_url()}/training">Training</a></li>
        <li><a href="#">Edit Training</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="box box-primary" style="padding: 10px;">
              <div class="box-body">
                <div class="form-group">
                  <label  for="InputName" class="control-label col-md-3" style="text-align: right;">Nama Training</label>
                  <div class="col-md-8">
                    <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Masukkan nama training yang akan diubah">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <div class="control-group">
                  <label class="col-md-3 control-label" for="singlebutton"> </label>
                  <div class="control col-md-1">
                    <button type="button" id="cari" class="btn btn-success">Cari</button>
                  </div>
                </div>
              </div>
            <!-- /.box-body -->
              <div class="box box-success ">
                <div class="box-body">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nama Training</th>
                    <th>Tanggal Training</th>
                    <th>Jumlah Peserta</th>
                    <th>Jenis</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody id="dataTraining">
                    <tr style="height: 35px;">
                      <td colspan="5" align="center" id="load">
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->