<section class="content-header">
  <div class="col-md-8 pull-right">
    <a href="{base_url()}training/export_id_all/{$dataTraining->id}/{$dataTraining->nama}"><button class="btn btn-success btn-sm pull-right" style="margin-right: 10px;"><i class="fa fa-download"></i> <strong> </strong>Export semua Data</button></a>
    <a href="{base_url()}training/export_id/{$dataTraining->id}"><button class="btn btn-success btn-sm pull-right" style="margin-right: 10px;"><i class="fa fa-download"></i> <strong> </strong>Export data departemen</button></a>
    <a href="{base_url()}training/exportTraining/{$dataTraining->id}"><button class="btn btn-success btn-sm pull-right" style="margin-right: 10px;"><span class="fa fa-file-o"></span> Export nilai</button></a>
    <button type="button" data-toggle="modal" data-target="#uploadNilaiDialog" data-id="{$dataTraining->id}" data-name="{$dataTraining->nama}" title="Edit this item" class="openDialog btn btn-primary btn-sm pull-right" style="margin-right: 10px;">
      <i class="fa fa-upload"></i> Upload Nilai
    </button>
  </div>
  <h1>
    {$dataTraining->nama}
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Detail {$dataTraining->nama}</h3>
        </div>
        <div class="box-body">
          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
                <tbody>
                  <tr>
                      <td>Nama Training:</td>
                      <td><input type="hidden" name="id" id="idTraining" value="{$dataTraining->id}">{$dataTraining->nama}</td>
                  </tr>
                  <tr>
                      <td>Tanggal:</td>
                      <td>{$dataTraining->tanggal} - {$dataTraining->tanggal_akhir}</td>
                  </tr>
                  <tr>
                      <td>Jam:</td>
                      <td>{$dataTraining->jam_mulai} - {$dataTraining->jam_selesai}</td>
                  </tr>
                  <tr>
                      <td>Jenis:</td>
                      <td>{$dataTraining->jenis}</td>
                  </tr>
                  <tr>
                      <td>Kategori:</td>
                      <td>{$dataTraining->kategori}</td>
                  </tr>
                  <tr>
                      <td>Lokasi:</td>
                      <td>{$dataTraining->lokasi}</td>
                  </tr>
                  <tr>
                      <td>Trainer:</td>
                      <td>{$dataTraining->jenis_trainer}</td>
                  </tr>
                  {$i = 1}
                  {foreach from = $dataTraining->trainer key = $field item = $value}
                  <tr>
                      <td></td>
                      <td>{$i}. {$value}</td>
                  </tr>
                  {$i = $i+1}
                  {/foreach}
                  <tr>
                      <td>Jumlah Peserta:</td>
                      <td>{$dataTraining->peserta}</td>
                  </tr>
                  <tr>
                      <td>Durasi:</td>
                      <td>{$dataTraining->durasi} jam</td>
                  </tr>
                  {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}
                  <tr>
                      <td>Nilai Kelulusan:</td>
                      <td>{$dataTraining->nilai_kelulusan}</td>
                  </tr>
                  {/if}
                  <tr>
                      <td>Biaya Riil:</td>
                      <td>Rp. {$dataTraining->biaya_riil}</td>
                  </tr>
                  <tr>
                      <td>Biaya Plan:</td>
                      <td>Rp. {$dataTraining->biaya_plan}</td>
                  </tr>
                  <tr>
                      <td>Manhuor:</td>
                      <td>{$dataTraining->manhour}</td>
                  </tr>
                  <tr>
                      <td>Keterangan:</td>
                      <td>{$dataTraining->keterangan}</td>
                  </tr>
                </tbody>
            </table>
            <div class="col-md-5">
              <a href="{base_url()}training/edit/id/{$dataTraining->id}"><button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button></a>
              <a href="#"><button id="btnHapus" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box" style="padding:10px;">
        <div class="box-header">
          <h4>Karyawan yang mengikuti Training</h4>
        </div>
        <div class="box-body">
          <table id="table1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> </th>
                <th>Reg</th>
                <th>Nama</th>
                <th>Departemen</th>
                <th>Line</th>
                {if $dataTraining->nilai_kelulusan != 0}
                {if $dataTraining->kategori == 'training'}<th>Nilai Pre-Test</th>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<th>Nilai Post-Test</th>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<th>Status</th>{/if}
                {/if}
                <th>Manhour</th>
              </tr>
            </thead>
            <tbody>
              {$manhour = 0}
              {foreach from=$dataKaryawan key=$field item=$value}
              {$style = ''}
              <!-- {if $value->pre_test < $dataTraining->nilai_kelulusan && $value->post_test == 0}
                {$style = 'color:#CF2525; font-weight: bold;'}
              {elseif $value->pre_test >= $dataTraining->nilai_kelulusan && $value->post_test == 0}
                {$style = 'color:green; font-weight: bold;'}
              {elseif $value->post_test < $dataTraining->nilai_kelulusan}
                {$style = 'color:#CF2525; font-weight: bold;'}
              {elseif $value->post_test >= $dataTraining->nilai_kelulusan}
                {$style = 'color:green; font-weight: bold;'}
              {/if} -->
              {if $dataTraining->nilai_kelulusan == 0}
                {$style = 'color:green; font-weight: bold;'}
              {elseif $value->status == 'lulus'}
                {$style = 'color:green; font-weight: bold;'}
              {else}
                {$style = 'color:#CF2525; font-weight: bold;'}
              {/if}
              <tr style="{$style}">
                <td>
                  <button type="button" data-toggle="modal" data-target="#addBookDialog" data-id="{$value->id}" title="Edit this item" class="openDialog btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>

                </td>
                
                <td class="employee_ID"><a href="{base_url()}karyawan/id/{$value->employee_ID}">{$value->employee_ID}</a></td>
                <td class="employee_name">{$value->employee_name}</td>
                <td class="departemen">{$value->department}</td>
                <td class="line">{$value->line}</td>
                {if $dataTraining->nilai_kelulusan != 0}
                {if $dataTraining->kategori == 'training'}<td class="pretest">{$value->pre_test}</td>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<td class="posttest">{$value->post_test}</td>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<td class="status">{$value->status}</td>{/if}
                {/if}
                <td>{$dataTraining->durasi}</td>
              </tr>
              {$manhour = $manhour + $dataTraining->durasi}
              {/foreach}
            </tbody>
            <tfoot>
              <tr>
                <th> </th>
                <th>Reg</th>
                <th>Nama</th>
                <th>Departemen</th>
                <th>Line</th>
                {if $dataTraining->nilai_kelulusan != 0}
                {if $dataTraining->kategori == 'training'}<th>Nilai Pre-Test</th>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<th>Nilai Post-Test</th>{/if}
                {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}<th>Status</th>{/if}
                {/if}
                <th>Manhour</th>
              </tr>
            </tfoot>
          </table>
          <b>Total Manhour : {$manhour}<br>
          {if $dataTraining->kategori == 'training' || $dataTraining->kategori == 'refresh'}
          Batas Nilai Kelulusan : {$dataTraining->nilai_kelulusan}</b>
          {/if}
        </div>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List Departemen yang mengikuti Training</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="table2" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nama Departemen</th>
              <th>Jumlah Peserta</th>
              <!-- <th>Jumlah Karyawan</th> -->
              <th>Karyawan yang lulus</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              {foreach from=$dataDepartemen key=$field item=$value}
              <tr>
                <td><a href="{base_url()}training/id/{$dataTraining->id}/departemen/{$value->linkDepartemen|escape:'url'}">{$value->namaDepartemen}</a></td>
                <td>{$value->jumlahPeserta}</td>
                <td>{$value->jumlahLulus}</td>
                <td>
                  <a href="{base_url()}training/id/{$dataTraining->id}/departemen/{$value->namaDepartemen|escape:'url'}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> View</button>
                  </a>
                </td>
              </tr>
              {/foreach}
            </tbody>
            <tfoot>
            <tr>
              <th>Nama Departemen</th>
              <th>Jumlah Peserta</th>
              <th>Karyawan yang lulus</th>
              <th>Action</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  {if $dataTraining->kategori != 'sosialisasi'}
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Statistik jumlah peserta tiap departemen</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="barChart" style="height:400px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  {/if}

</section>
<!-- /.content -->

<div class="modal fade" id="addBookDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Edit Training Karyawan</h3>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action="{base_url()}training/edit_training_karyawan" id="formEdit" method="post">
              <input type="hidden" name="id" class="form-control" id="id" placeholder="Enter ID">
              <input type="hidden" name="idTraining" value="{$dataTraining->id}">
              <div class="form-group">
                <label  for="InputEmployeeID" class="control-label col-md-3">Employee ID</label>
                <div class="col-md-8">
                  <input type="text" name="employeeID" class="form-control" id="InputEmployeeID" required placeholder="Employee ID" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label  for="InputName" class="control-label col-md-3">Nama Karyawan</label>
                <div class="col-md-8">
                  <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Nama Karyawan" disabled="true">
                </div>
              </div>
              <!-- <div class="form-group">
                <label  for="InputKehadiran" class="control-label col-md-3">Kehadiran</label>
                <div class="col-md-8">
                  <select class="form-control" name="kehadiran" id="InputKehadiran" required>
                    <option value="tidak">Tidak Hadir</option>
                    <option value="hadir">Hadir</option>
                  </select>
                </div>
              </div> -->
              {if $dataTraining->kategori == 'training'}
              <div class="form-group">
                <label for="InputPreTest" class="control-label col-md-3">Nilai Pre Test</label>
                <div class="col-md-8">
                <input type="number" name="pretest" class="form-control" id="InputPreTest" required placeholder="Nilai Pre Test">
                </div>
              </div>
              {/if}
              {if $dataTraining->kategori != 'sosialisasi'}
              <div class="form-group">
                <label for="InputPostTest" class="control-label col-md-3">Nilai Post Test</label>
                <div class="col-md-8">
                <input type="number" name="posttest" class="form-control" id="InputPostTest" required placeholder="Nilai Post Test">
                </div>
              </div> 
              {/if}
              <!-- <div class="form-group">
                <label  for="InputStatus" class="control-label col-md-3">Status</label>
                <div class="col-md-8">
                  <select class="form-control" name="status" id="InputStatus" required>
                    <option value="remidi">Remidi</option>
                    <option value="lulus">Lulus</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group"> 
                <label class="col-md-3"> </label>
                <div class="col-md-8">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="uploadNilaiDialog" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form role="form" id="formInput" action="{base_url()}training/upload_nilai" method="post" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <button class="close" data-dismiss="modal">×</button>
        <label style="font-size:20pt; color:green;" for="uploadKaryawan">Upload Absensi Karyawan</label>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12" style="text-align: center;">
          <div class="row" style="float: none; margin: 20px auto;">
            <label  for="InputJenis" class="control-label col-md-4">Nama Training</label>
            <div class="col-md-7 col-sm-7 col-xs-7">
              <input type="hidden" class="form-control" name="training_id" value="{$dataTraining->id}">
              <input type="text" class="form-control" name="training_name" disabled="true" value="{$dataTraining->nama}">
            </div>
          </div>
          <div class="row">
            <!-- <input type="file" name="dataNilai" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{literal} {count}{/literal}  files selected" style="height: 0.01px; width: 0.01px;" multiple /> -->
            <label  for="InputJenis" class="control-label col-md-4">Pilih File</label>
            <div class="col-md-7">
              <input type="file" name="dataNilai" accept=".csv" class="inputfile"><br>
              <span class="help-block" style="text-align: left;">File harus bertipe .csv</span>
            </div>
            <!-- <label for="file-7" style="width: 420px;"><span></span> <strong> Pilih File</strong></label> -->
            <!-- <span class="help-block">File harus bertipe .csv</span> -->
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            <div class="col-md-10" style="text-align: left; margin: 0 auto; float: none;">
              <span class="help-block" style="color:red;" id="errorText"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary" id="buttonSubmit" style="width:520px;">
          <div class="col-md-1" style="float: right;" id="loader"></div>
          <i class="fa fa-upload" id="iconUpload"></i> Upload
        </button>
      </div>
    </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $('#btnHapus').click(function(){
    var id = $('#idTraining').val();
    swal({
      title: 'Hapus Training',
      type: 'info',
      html:
        'anda yakin ingin menghapus training ini ?',
      confirmButtonColor: '#d33',
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonText:
        '<i class="fa fa-check"></i> Hapus!',
      cancelButtonText:
        'Cancel'
    }).then(function () {
      hapusTraining(id);
    });
  });
  {literal}
  function hapusTraining(id){
    var url = "http://localhost/training/training/hapus"; 
    $.ajax({
       type: "POST",
       url: url,
       data: {'id' : id}, 
       success: function(data)
       {
          if(data == 'true'){
           swal('Sukses', 'Berhasil menghapus Training', 'success').then(function (){
            location.href="http://localhost/training/dashboard";
           });
          }else{
            swal('Gagal', 'Gagal menghapus Training', 'error');
          }
       },
       error: function(xhr, textStatus, errorThrown){
          swal('Gagal', 'Gagal menghapus Training', 'error');
      }
    });
  };
  {/literal}

  var dataJSON = '{$dataToJS}';
  var ctx = document.getElementById('barChart').getContext('2d');
  var dataJSON = JSON.parse(dataJSON);
  //console.log(dataJSON);
  var label = [];
  var jumlahHadir = [];
  var jumlahLulus = [];
  var jumlahPeserta = [];
  var i = 0;
  for (var key in dataJSON) {
    //console.log(dataJSON[key]);
    label[i] = dataJSON[key].namaDepartemen;
    jumlahPeserta[i] = dataJSON[key].jumlahPeserta;
    jumlahLulus[i] = dataJSON[key].jumlahLulus;
    i++;
  }

  var dataOption = {
      type: 'bar',

      data: {
           labels: label,
            datasets: [
              {
                label: "Jumlah Peserta Training",
                backgroundColor: "rgba(52, 152, 219,1)",
                borderColor: "rgba(52, 152, 219,1.0)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(52, 152, 219,0.6)",
                hoverBorderColor: "rgba(52, 152, 219,1)",
                data: jumlahPeserta
              },
              {
                label: "Jumlah Lulus",
                backgroundColor: "rgba(46, 204, 113,1)",
                borderColor: "rgba(46, 204, 113,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(46, 204, 113,0.5)",
                hoverBorderColor: "rgba(46, 204, 113,1)",
                data: jumlahLulus
              }
            ]
      },

      // Configuration options go here
      options: {
        hover: {
            animationDuration: 0
        }, 
        scales: {
          xAxes:[{
              gridLines: {
                display:true
              },
              ticks: {
                stepSize: 1,
                min: 0,
                autoSkip: false
              }
          }],
          yAxes:[{
            ticks: {
                suggestedMin: 0,
                suggestedMax: 10
            }
          }]
        },
        animation: {
          duration: 1,
          onComplete: function () {
            var chartInstance = this.chart,
                ctx = chartInstance.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';

            this.data.datasets.forEach(function (dataset, i) {
                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function (bar, index) {
                    var data = dataset.data[index];                            
                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                });
            });
        }
      }
    }
  };

  var chart = new Chart(ctx, dataOption);

  $('#barChart').click(
    function(evt){
       var activePoints = chart.getElementsAtEvent(evt);
       var firstPoint = activePoints[0];
        if (firstPoint !== undefined){
          location.href="training-departemen.html";
        }
    }
  );

  $('.openDialog').click(
    function (evt) {
      var id = $(this).attr("data-id");
      var nama = $(this).closest('tr').children('td.employee_name').text();
      var employee_ID = $(this).closest('tr').children('td.employee_ID').text();
      var kehadiran = $(this).closest('tr').children('td.kehadiran').text();
      var pretest = $(this).closest('tr').children('td.pretest').text();
      var posttest = $(this).closest('tr').children('td.posttest').text();
      var status = $(this).closest('tr').children('td.status').text();
      
      $("input#id").val( id );
      $("input#InputName").val( nama );
      $("input#InputEmployeeID").val( employee_ID );
      $("input#InputKehadiran").val( kehadiran );
      $("input#InputPreTest").val( pretest );
      $("input#InputPostTest").val( posttest );
      $("input#InputStatus").val( status );
      //console.log(id + nama);
    });

  $('#formEdit').submit(function(e) {
    var url = "http://localhost/training/training/proses_edit_training_karyawan"; 
    $.ajax({
     type: "POST",
     url: url,
     data: $("#formEdit").serialize(), 
     success: function(data)
     {
        if(data == 'true'){
          swal('Sukses', 'Berhasil mengubah Karyawan', 'success').then(function(){ 
            location.reload();  
          }); 
        }else{
          swal('Gagal', 'Gagal mengubah Karyawan', 'error');
        }
      },
      error: function(xhr, textStatus, errorThrown){
        swal('Gagal', 'Gagal mengubah Karyawan', 'error');
      }
    });

    e.preventDefault(); // avoid to execute the actual submit of the form.
  });
</script>