<section class="content-header">
  <h1>
    Tambah Training
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{base_url()}/training">Training</a></li>
    <li><a href="#">Tambah Training</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="box box-primary" style="padding: 10px;">
        <form role="form" id="formInput" class="form-horizontal" action="{base_url()}training/proses_add" method="post">
          <div class="box-body">
            <div class="form-group">
              <label  for="InputName" class="control-label col-md-3">Nama Training</label>
              <div class="col-md-7">
                <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Masukkan nama Training">
              </div>
              <button type="button" class="btn btn-default btn-sm" id="btnCari">Cari</button>
            </div>
            <div class="form-group">
              <label  for="InputJenis" class="control-label col-md-3">Jenis Training</label>
              <div class="col-md-2 col-sm-12 col-xs-12">
                <select class="form-control" name="jenis" id="InputJenis" required>
                <option value="basic">Basic</option>
                  <option value="generic">Generic</option>
                  <option value="teknikal">Teknikal</option>
                  <option value="bersertifikat">Bersertifikat</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label  for="InputKategori" class="control-label col-md-3">Kategori Training</label>
              <div class="col-md-2 col-sm-12 col-xs-12">
                <select class="form-control" name="kategori" id="InputKategori" required>
                  <option value="training">Training</option>
                  <option value="refresh">Refresh</option>
                  <option value="sosialisasi">Sosialisasi</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="InputDate" class="control-label col-md-3">Tanggal</label>
              <div>
                <div class="col-md-2">
                <input type="text" name="tanggal" class="form-control pull-right dtpicker" id="InputDateAwal" placeholder="Tanggal Awal">
                </div>
                <div class="col-md-2">
                <input type="text" name="tanggal_akhir" class="form-control pull-right dtpicker" id="InputDateAkhir" placeholder="Tanggal Akhir">
                </div>
                <label for="InputDurasi" class="control-label col-md-1">Durasi</label>
                <div class="col-md-2">
                    <div class="col-md-8 col-xs-5">
                    <input type="number" name="durasi" class="form-control pull-right" id="InputDurasi" step="0.1" min="0">
                    </div>
                    <label class="control-label" style="font-weight: lighter; ">Jam</label>
                </div>
              </div>
            </div>
            <div class="form-group form-horizontal">
              <label for="InputDate" class="control-label col-md-3">Jam</label>
              <div class="col-md-1">
                <input type="text" name="jam_awal" class="form-control" id="InputDateAwal" required="">
              </div>
              <label for="InputDurasi" class="control-label" style="float: left;">-</label>
              <div class="col-md-1">
                  <input type="text" name="jam_akhir" class="form-control" id="InputDurasi" required="">
              </div>
            </div>
            <div class="form-group">
              <label for="InputLokasi" class="control-label col-md-3">Lokasi</label>
              <div class="col-md-8">
              <input type="text" name="lokasi" class="form-control" id="InputLokasi" required placeholder="Masukkan Lokasi pelaksanaan training">
              </div>
            </div>
            <div class="form-group">
              <label for="InputPeserta" class="control-label col-md-3">Jumlah Peserta</label>
              <div class="col-md-2">
              <input type="number" name="peserta" class="form-control" id="InputPeserta" required placeholder="Jumlah Peserta">
              </div>
            </div>
            <div class="form-group" id="divNilai">
              <label for="InputNilai" class="control-label col-md-3">Nilai Kelulusan</label>
              <div class="col-md-2">
              <input type="number" name="nilai" class="form-control" id="InputNilai" placeholder="Nilai Kelulusan">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label for="InputBiaya" class="control-label col-md-6">Biaya Riil</label>
                <div class="col-md-6">
                    <input type="number" name="biayaRiil" class="form-control" id="InputBiayaRiil" required placeholder="Biaya Riil">
                </div>
              </div>
              <div class="col-md-6">
                <label for="InputBiaya" class="control-label col-md-3">Biaya Planning</label>
                <div class="col-md-6">
                    <input type="number" name="biayaPlan" class="form-control" id="InputBiayaPlan" required placeholder="Biaya Planning">
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label for="InputTrainer" class="control-label col-md-3">Trainer</label>
              <div class="col-md-2 col-sm-12 col-xs-12">
                  <div class="radio col-md-6 col-xs-6">
                      <label for="jenisTrainer1"><input type="radio" id="jenisTrainer1" name="jenisTrainer" value="internal" checked="true">Internal </label>
                  </div>
                  <div class="radio col-md-6 col-xs-6">
                      <label for="jenisTrainer2"><input type="radio" id="jenistrainer2" name="jenisTrainer" value="external">External</label>
                  </div>
              </div>
              <div class="col-md-7 col-xs-12 col-sm-12">
                <div class="col-md-12" id="divTrainer">
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" required placeholder="Nama/Reg Trainer" maxlength="10" id="trainer1" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader1"></div></div>
                  </div>
                  <div class="col-md-1"><button type="button" id="addTrainer" class="btn"><i class="fa fa-plus"></i></button></div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer2" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true" id="namatrainer2">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader2"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer3" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true" id="namatrainer3">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader3"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer4" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader4"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer5" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader5"></div></div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <!-- <div class="form-group">
              <label  for="InputName" class="control-label col-md-3">Pilih departemen yang mengikuti training</label>
              <div class="panel accordion col-md-8" style="padding: 0; margin:0 0 20 0;">
              <div class="panel-heading">
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-toggle="collapse"  data-target="#bodyTable" aria-expanded="false" aria-controls="bodyTable" parent=".accordion" id="btnToggle"><i class="fa fa-minus" id="minimizeIcon"></i>
                  </button>
                </div>
              </div>
                <table id="mytable" class="table table-bordered table-striped">
                  <thead class="bg-light-blue">
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>Nama Departemen</th>
                    <th>Keterangan</th>
                    <th>Jumlah Karyawan</th>
                  </thead>
                  <tbody id="bodyTable" class="collapse in">
                    {foreach from=$dataDepartemen key=$field item=$value }
                    <tr>
                      <td><input type="checkbox" name="departemen[]" class="checkthis" value="{$value->id}" /></td>
                      <td>{$value->nama}</td>
                      <td>{$value->keterangan}</td>
                      <td>{$value->jumlahKaryawan}</td>
                    </tr>
                    {/foreach}
                  </tbody>
                </table>
              </div>
            </div> -->
            <div class="control-group">
              <label class="col-md-3 control-label" for="singlebutton"> </label>
              <div class="control col-md-1">
                <button type="submit" class="btn btn-success">Tambah</button>
              </div>
              <div class="control col-md-4" id="btnLanjut" style="visibility: hidden;">
                <a href="{base_url()}training/add_karyawan">
                  <button class="btn btn-info" type="button">Lanjut masukkan data Karyawan</button>
                </a>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('.loader2').hide();
  let tipe='internal';
  
  // $("#mytable #checkall").click(function () {
  //     if ($("#mytable #checkall").is(':checked')) {
  //         $("#mytable input[type=checkbox]").each(function () {
  //             $(this).prop("checked", true);
  //         });

  //     } else {
  //         $("#mytable input[type=checkbox]").each(function () {
  //             $(this).prop("checked", false);
  //         });
  //     }
  // });

  $('.dtpicker').datepicker({
    autoclose: true,
    format: 'dd-mm-yyyy'
  });

  // $('#btnToggle').click(function () {
  //   if($('#minimizeIcon').attr('class') == 'fa fa-minus'){
  //     $('#minimizeIcon').removeClass("fa-minus");
  //     $('#minimizeIcon').addClass("fa-plus");
  //   }else{
  //     $('#minimizeIcon').removeClass("fa-plus");
  //     $('#minimizeIcon').addClass("fa-minus");
  //   }
  // });

  $('input[type=radio][name=jenisTrainer]').change(function() {
      if (this.value == 'internal') {
        tipe = 'internal'
        $('.divRegTrainer').removeClass('col-md-11');
        $('.divRegTrainer').addClass('col-md-5 ');
        $('.divKeteranganTrainer').fadeIn('slow');
        $('.InputTrainer').prop('maxLength', 10);
      }
      else if (this.value == 'external') {
        tipe = 'external';
        $('.divKeteranganTrainer').fadeOut('slow', function () {
            $('.divRegTrainer').addClass('col-md-11');
            $('.divRegTrainer').removeClass('col-md-5');
            $('.InputTrainer').prop('maxLength', 255);
        });
      }
  });

  $('#InputKategori').change(function() {
      let kategori = $('#InputKategori').val();
      if(kategori == 'sosialisasi'){
          $('#divNilai').fadeOut();
      }else{
          $('#divNilai').fadeIn();
      }
  });

  function getNama(obj){
    var a = $('input[type=radio][name=jenisTrainer]:checked').val();
    {literal}
      if( a == 'internal'){
          if(obj.value.length == 8 || obj.value.length == 10) {
              if(!$(obj).data('triggered')) {
                  $(obj).data('triggered',true); 
                  if ($(obj).data('triggered')==true ) { 
                      let nama = "";
                      let value = obj.value;
                      let element = obj;
                      var url = "http://localhost/training/karyawan/getKaryawanbyId/" + value; 
                      loader  = $(element).parents('.divRegTrainer').next().next().children('.loader2');
                      loader.fadeIn();
                      $.ajax({
                         type: "POST",
                         url: url,
                         data: {'id': value}, 
                         success: function(data)
                         {    
                              nama = data;
                              inputelement  = $(element).parents('.divRegTrainer').next().find('input.inputKeterangan');
                              inputelement.val(nama);
                              $(obj).data('triggered',false);
                              loader.hide();
                         },
                         error: function(xhr, textStatus, errorThrown){
                            $(obj).data('triggered',true);
                            loader.hide();
                        }
                       });
                      // event.preventDefault();
                  } 
              }
          } else { 
            $(obj).data('triggered',false); 
            inputelement  = $(obj).parents('.divRegTrainer').next().find('input.inputKeterangan');
            inputelement.val("-");
          }
      }
      {/literal}
  }
  $('#addTrainer').on("click", function(event){
      // tipe = $('input[type=radio][name=jenisTrainer]').val();
      // console.log(tipe);
      if(tipe  == 'internal'){
          $('#divTrainer').append('<div class="col-md-9" id="blockTrainer"><div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer"><input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" onkeyup="getNama(this)"></div><div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" ><input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true"></div><div class="col-md-1"><div class="loader2"></div></div></div>');
      }else{
          $('#divTrainer').append('<div class="col-md-9" id="blockTrainer"><div class="col-md-11 col-sm-11 col-xs-11 divRegTrainer" id="divRegTrainer"><input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" onkeyup="getNama(this)"></div><div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" ><input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true"></div><div class="col-md-1"><div class="loader2"></div></div></div>');
          $('.divKeteranganTrainer').hide();
      }
      $('.loader2').hide();
  });

  $("#formInput").submit(function(e) {
    var url = "http://localhost/training/training/proses_add";
    $.ajax({
       type: "POST",
       url: url,
       data: $("#formInput").serialize(), 
       success: function(data)
       {
          if(data == 'true'){
           swal('Sukses', 'Berhasil menambahkan Training', 'success'); 
          }else{
            swal('Gagal', 'Gagal menambahkan Training', 'error');
          }
       },
       error: function(xhr, textStatus, errorThrown){
          swal('Gagal', 'Gagal menambahkan Training', 'error');
      }
     });

    e.preventDefault();
  });

  $('#btnCari').click(function () {
    let namaTraining = $('#InputName').val();
    {literal}
    $.ajax({
        type: "POST",
        url: "http://localhost/training/training/getCustomTraining",
        data: {nama:namaTraining}, 
        success: function(data)
        {
          let trainingData = JSON.parse(data);
          $('#InputJenis').val(trainingData.jenis);
          $('#InputKategori').val(trainingData.kategori);
        },
        error: function(xhr, textStatus, errorThrown){
          swal('Gagal', 'Gagal menambahkan Training', 'error');
        }
    });
    {/literal}
  });
</script>