
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Edit Training
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{base_url()}training">Training</a></li>
    <li><a href="{base_url()}training/edit">Edit Training</a></li>
    <li><a href="#">Nama Training</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="box box-primary" style="padding: 10px;">
          <div class="box-body">
          <form role="form" id="formInput" class="form-horizontal" action="{base_url()}training/proses_edit" method="post">
            <div class="form-group">
              <label  for="InputName" class="control-label col-md-3">Nama Training</label>
              <div class="col-md-8">
                <input type="hidden" value="{$dataTraining->id}" name="id">
                <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Masukkan nama Training" value="{$dataTraining->nama}">
              </div>
            </div>
            <div class="form-group">
              <label  for="InputJenis" class="control-label col-md-3">Jenis Training</label>
              <div class="col-md-8">
                <select class="form-control" name="jenis" id="InputJenis" required>value="{$dataTraining->nama}"
                  <option value='generic' {if $dataTraining->jenis == 'generic'}selected='true'{/if}>Generic</option>
                  <option value='teknikal' {if $dataTraining->jenis == 'teknikal'}selected='true'{/if}>Teknikal</option>
                  <option value='bersertifikat' {if $dataTraining->jenis == 'bersertifikat'}selected='true'{/if}>Bersertifikat</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="InputKategori" class="control-label col-md-3">Kategori Training</label>
              <div class="col-md-8">
                <select class="form-control" name="kategori" id="InputKategori" required>value="{$dataTraining->nama}"
                  <option value="training" {if $dataTraining->kategori == 'training'}selected='true'{/if}>Training</option>
                  <option value="refresh" {if $dataTraining->kategori == 'refresh'}selected='true'{/if}>Refresh</option>
                  <option value="sosialisasi" {if $dataTraining->kategori == 'sosialisasi'}selected='true'{/if}>Sosialisasi</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="InputDate" class="control-label col-md-3">Tanggal Pelaksanaan</label>
              <div class="col-md-8">
              <input type="text" name="tanggal" class="form-control pull-right" id="InputDate" placeholder="Tanggal pelaksanaan Training" value="{$dataTraining->tanggal}">
              </div>
            </div>
            <div class="form-group">
              <label for="InputLokasi" class="control-label col-md-3">Lokasi</label>
              <div class="col-md-8">
              <input type="text" name="lokasi" class="form-control" id="InputLokasi" required placeholder="Masukkan Lokasi pelaksanaan training" value="{$dataTraining->lokasi}">
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="InputTrainer" class="control-label col-md-3">Trainer</label>
              <div class="col-md-8">
              <input type="text" name="trainer" class="form-control" id="InputTrainer" required placeholder="Masukkan nama Trainer" value="{$dataTraining->trainer}">
              </div>
            </div> -->
            <div class="form-group">
              <label for="InputPeserta" class="control-label col-md-3">Jumlah Peserta</label>
              <div class="col-md-8">
              <input type="number" name="peserta" class="form-control" id="InputPeserta" required placeholder="Masukkan Jumlah Peserta" value="{$dataTraining->peserta}">
              </div>
            </div>
            <div class="form-group">
              <label for="InputBiaya" class="control-label col-md-3">Biaya Riil</label>
              <div class="col-md-8">
              <input type="number" name="biaya_riil" class="form-control" id="InputBiaya" required placeholder="Masukkan Biaya Training" value="{$dataTraining->biaya_riil}">
              </div>
            </div>
            <div class="form-group">
              <label for="InputBiayaPlan" class="control-label col-md-3">Biaya Planning</label>
              <div class="col-md-8">
              <input type="number" name="biaya_plan" class="form-control" id="InputBiayaPlan" required placeholder="Masukkan Biaya Training" value="{$dataTraining->biaya_plan}">
              </div>
            </div>
            {$internal = ''}
            {$eksternal = ''}
            {$namatrainerVisible = 'false'}
            {if $dataTraining->jenis_trainer == 'internal'}
              {$internal = 'checked'}
              {$namatrainerVisible = 'true'}
            {else}
              {$eksternal = 'checked'}
            {/if}
            <!-- <div class="form-group">
              <label for="InputTrainer" class="control-label col-md-3">Trainer</label>
              <div class="col-md-2 col-sm-12 col-xs-12">
                  <div class="radio col-md-6 col-xs-6">
                      <label for="jenisTrainer1"><input type="radio" id="jenisTrainer1" name="jenisTrainer" value="internal" {$internal}>Internal </label>
                  </div>
                  <div class="radio col-md-6 col-xs-6">
                      <label for="jenisTrainer2"><input type="radio" id="jenistrainer2" name="jenisTrainer" value="external" {$eksternal}>External</label>
                  </div>
              </div>
              <div class="col-md-7 col-xs-12 col-sm-12">
                <div class="col-md-12">
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" required placeholder="Nama/Reg Trainer" maxlength="10" id="trainer1" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader1"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer2" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true" id="namatrainer2">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader2"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer3" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true" id="namatrainer3">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader3"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer4" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader4"></div></div>
                  </div>
                  <div class="col-md-9" id="blockTrainer">
                    <div class="col-md-5 col-sm-12 col-xs-12 divRegTrainer" id="divRegTrainer">
                      <input type="text" name="trainer[]" class="form-control InputTrainer" placeholder="Nama/Reg Trainer" maxlength="10" id="trainer5" onkeyup="getNama(this)">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 divKeteranganTrainer" id="divKeteranganTrainer" >
                      <input type="text" class="form-control inputKeterangan" required placeholder="Nama Trainer" disabled="true">
                    </div>
                    <div class="col-md-1"><div class="loader2" id="loader5"></div></div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="control-group">
            <label class="col-md-3 control-label" for="singlebutton"> </label>
              <div class="control col-md-8">
                <button type="submit" class="btn btn-success">Edit</button>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">

          </div>
        </form>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('.loader2').hide();

  // let namaKeterangan = "{$namatrainerVisible}";
  // console.log(namaKeterangan);
  // if(namaKeterangan === "false"){
  //   $('.divKeteranganTrainer').fadeOut('slow');
  //   $('.divRegTrainer').addClass('col-md-11');
  //   $('.divRegTrainer').removeClass('col-md-5');
  //   $('.InputTrainer').prop('maxLength', 255);
  // }

  $('input[type=radio][name=jenisTrainer]').change(function() {
      if (this.value == 'internal') {
          $('.divRegTrainer').removeClass('col-md-11');
          $('.divRegTrainer').addClass('col-md-5 ');
          $('.divKeteranganTrainer').fadeIn('slow');
          $('.InputTrainer').prop('maxLength', 10);
      }
      else if (this.value == 'external') {
          $('.divKeteranganTrainer').fadeOut('slow', function () {
              $('.divRegTrainer').addClass('col-md-11');
              $('.divRegTrainer').removeClass('col-md-5');
              $('.InputTrainer').prop('maxLength', 255);
          });
      }
  });

  function getNama(obj){
    var a = $('input[type=radio][name=jenisTrainer]:checked').val();
    {literal}
      if( a == 'internal'){
          if(obj.value.length == 8 || obj.value.length == 10) {
              if(!$(obj).data('triggered')) {
                  $(obj).data('triggered',true); 
                  if ($(obj).data('triggered')==true ) { 
                      let nama = "";
                      let value = obj.value;
                      let element = obj;
                      var url = "http://localhost/training/karyawan/getKaryawanbyId/" + value; 
                      loader  = $(element).parents('.divRegTrainer').next().next().children('.loader2');
                      loader.fadeIn();
                      $.ajax({
                         type: "POST",
                         url: url,
                         data: {'id': value}, 
                         success: function(data)
                         {    
                              nama = data;
                              inputelement  = $(element).parents('.divRegTrainer').next().find('input.inputKeterangan');
                              inputelement.val(nama);
                              $(obj).data('triggered',false);
                              loader.hide();
                         },
                         error: function(xhr, textStatus, errorThrown){
                            $(obj).data('triggered',true);
                            loader.hide();
                        }
                       });
                      event.preventDefault();
                  } 
              }
          } else { 
            $(obj).data('triggered',false); 
            inputelement  = $(obj).parents('.divRegTrainer').next().find('input.inputKeterangan');
            inputelement.val("-");
          }
      }
      {/literal}
  }
</script>