    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="col-md-1 pull-right">
        <a href="{base_url()}training/export_all"><button class="btn btn-success"><i class="fa fa-download"></i> <strong> </strong>Excel</button></a>
      </div>
      <h1>
        Training
        <small>List Training Garuda Food</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="table1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nama Training</th>
                  <th>Tanggal Training</th>
                  <th>Jumlah Peserta</th>
                  <th>Jenis</th>
                </tr>
                </thead>
                <tbody>
                  {if $dataTraining == null}
                    <tr>
                      <td colspan="4" align="center"><h3>Data Training masih kosong</h3><a href="{base_url()}training/add">Tambah Training</a></td>
                    </tr>
                  {else}
                    {foreach from=$dataTraining key=field item=values}
                    <tr>
                      <td><a href="{base_url()}training/id/{$values->id}">{$values->nama}</a></td>
                      <td>{$values->tanggal}</td>
                      <td>{$values->peserta}</td>
                      <td>
                        {if $values->jenis == 'basic'}{$label = 'label-primary'}
                        {elseif $values->jenis == 'generic'}{$label = 'label-info'}
                        {elseif $values->jenis == 'teknikal'}{$label = 'label-success'}
                        {elseif $values->jenis == 'bersertifikat'}{$label = 'label-danger'}
                        {/if}
                        <label class="label {$label}">{$values->jenis}</label>
                      </td>
                    </tr>
                    {/foreach}
                  {/if}
                </tbody>
                <tfoot>
                <tr>
                  <th>Nama Training</th>
                  <th>Tanggal Training</th>
                  <th>Jumlah Peserta</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->