
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Training
        <small>Masukkan departemen yang mengikuti training</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{base_url()}/training">Training</a></li>
        <li><a href="#">Tambah Training</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="box box-primary" style="padding: 10px;">
              <div class="box-body">
              <form role="form" id="formInput" class="form-horizontal" action="{base_url()}training/proses_add_departemen" method="post">
                {if !isset($id)}
                <div class="form-group">
                  <label  for="InputName" class="control-label col-md-3">Nama Training</label>
                  <div class="col-md-7">
                    <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Cari nama Training">
                    <input type="hidden" name="id" id="idTraining">
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-info" id="cari"><i class="fa fa-eye"></i> Cari</button>
                  </div>
                </div>
                <div class="form-group" id="tableTraining">
                  <div class="col-md-3"></div>
                  <div class="table-responsive col-md-8">
                    <table class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nama Training</th>
                        <th>Tanggal Training</th>
                        <th>Jumlah Peserta</th>
                        <th>Jenis</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody id="dataTraining">
                        <tr style="height: 35px;">
                          <td colspan="5" align="center" id="load">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                {else}
                  <div class="form-group">
                    <label  for="InputName" class="control-label col-md-3">Nama Training</label>
                    <div class="col-md-7">
                      <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Cari nama Training" value="{$namaTraining}">
                      <input type="hidden" name="id" id="idTraining" value="{$id}">
                    </div>
                  </div>
                {/if}
                <div class="form-group">
                <label  for="InputName" class="control-label col-md-3">Pilih departemen yang mengikuti training</label>
                <div class="panel accordion col-md-8" style="padding: 0; margin:0 0 20 0;">
                <div class="panel-heading">
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="collapse"  data-target="#bodyTable" aria-expanded="false" aria-controls="bodyTable" parent=".accordion"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                  <table id="mytable" class="table table-bordered table-striped">
                    <thead class="bg-light-blue">
                      <th><input type="checkbox" id="checkall" /></th>
                      <th>Nama Departemen</th>
                      <th>Keterangan</th>
                      <th>Jumlah Karyawan</th>
                    </thead>
                    <tbody id="bodyTable" class="collapse in">
                      {foreach from=$dataDepartemen key=$field item=$value }
                      <tr>
                        <td><input type="checkbox" name="departemen[]" class="checkthis" value="{$value->id}" /></td>
                        <td>{$value->nama}</td>
                        <td>{$value->keterangan}</td>
                        <td>{$value->jumlahKaryawan}</td>
                      </tr>
                      {/foreach}
                    </tbody>
                  </table>
                </div>

                <div class="control-group" style="margin-top: 20px;">
                <label class="col-md-3 control-label" for="singlebutton"> </label>
                  <div class="control col-md-1">
                    <button type="submit" class="btn btn-success">Tambah</button>
                  </div>
                  <div class="control col-md-4" id="btnLanjut" style="visibility: hidden;"><a href="{base_url()}training/add_karyawan"><button class="btn btn-info" type="button">Lanjut masukkan data karyawan</button></a>
                  </div>
                </div>
              </div>
              </form>
              <!-- /.box-body -->

              <div class="box-footer">

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->