{if isset($dataTraining)}
  {foreach from=$dataTraining key=field item=values} <!-- loop sebanyak dataTraining-->
      <tr>
        <td>{$values->nama}</td>
        <td>{$values->tanggal}</td>
        <td>{$values->peserta}</td>
        <td>
          {$label = ''}
          {if $values->jenis == 'generic'}{$label = 'label-info'}
          {elseif $values->jenis == 'teknikal'}{$label = 'label-success'}
          {elseif $values->jenis == 'bersertifikat'}{$label = 'label-danger'}
          {/if}
          <label class="label {$label}">{$values->jenis}</label>
        </td>
        {if $btnCaption == 'Edit'} <!-- jika data digunakan untuk edit training-->
        <td><a href="{$btnLink}{$values->id}"><button class="btn btn-info"><i class="{$btnClass}"></i> {$btnCaption}</button></a></td>
        {elseif $btnCaption == 'Pilih'} <!-- jika data digunakan untuk add departemen di controller training-->
        <td><button class="btn btn-info" id="{$btnCaption}" onclick="setIdTraining({$values->id}, '{$values->nama}')" type="button"><i class="{$btnClass}"></i> {$btnCaption}</button></td>
        {/if}
      </tr>
    {/foreach}
{else}
  <tr>
    <td colspan="5" class="h3" align="center">Training tidak ditemukan</td>
  </tr>
{/if}