
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Training
        <small>Masukkan karyawan yang mengikuti training</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{base_url()}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{base_url()}/training">Training</a></li>
        <li><a href="#">Tambah Training</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="box box-primary" style="padding: 10px;">
              <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <div class="hidden-xs">Manual</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        <div class="hidden-xs">Upload</div>
                    </button>
                </div>
            </div>
              <div class="box-body">
              <div class="well">
                <div class="tab-content" id="tabs">
                  <!-- Tab Pane 1 -->
                  <div class="tab-pane fade in active" id="tab1">
                      <form role="form" id="formInput" class="form-horizontal" action="{base_url()}training/proses_add_karyawan" method="post">
                        {if !isset($id)}
                          <div class="form-group">
                            <label  for="InputName" class="control-label col-md-3">Nama Training</label>
                            <div class="col-md-7">
                              <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Cari nama Training">
                              <input type="hidden" name="id" id="idTraining">
                            </div>
                            <div class="col-md-1">
                              <button type="button" class="btn btn-info" id="cari"><i class="fa fa-eye"></i> Cari</button>
                            </div>
                          </div>
                          <div class="form-group" id="tableTraining">
                            <div class="col-md-3"></div>
                            <div class="table-responsive col-md-8">
                              <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                  <th>Nama Training</th>
                                  <th>Tanggal Training</th>
                                  <th>Jumlah Peserta</th>
                                  <th>Jenis</th>
                                  <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="dataTraining">
                                  <tr style="height: 35px;">
                                    <td colspan="5" align="center" id="load">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        {else}
                          <div class="form-group">
                            <label  for="InputName" class="control-label col-md-3">Nama Training</label>
                            <div class="col-md-7">
                              <input type="text" name="nama" class="form-control" id="InputName" required placeholder="Cari nama Training" value="{$namaTraining}">
                              <input type="hidden" name="id" id="idTraining" value="{$id}">
                            </div>
                          </div>
                        {/if}
                        <div class="form-group">
                            <label  for="InputName" class="control-label col-md-3">Nama Departemen</label>
                            <div class="col-md-7">
                              <select name="departemen" class="form-control" disabled="true" id="inputDepartemen">
                                <option value="0">Pilih Departemen</option>
                              </select>
                            </div>
                          </div>
                        <div class="form-group">
                          <label  for="InputName" class="control-label col-md-3">Pilih karyawan yang mengikuti training</label>
                          
                          <div class=" col-md-8" style="padding: 0; margin:0 0 20 0;">
                            <div class="panel-heading">
                              <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-toggle="collapse"  data-target="#dataKaryawan" aria-expanded="false" aria-controls="dataKaryawan" parent=".accordion"><i class="fa fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <div class="table-responsive col-md-12">
                            <table id="mytable" class="table table-bordered table-striped">
                              <thead class="bg-light-blue">
                                <th><input type="checkbox" id="checkall" /></th>
                                <th>No. Registrasi</th>
                                <th>Nama Karyawan</th>
                                <th>Posisi</th>
                              </thead>
                              <tbody id="dataKaryawan" class="collapse in">
                                <!-- {foreach from=$dataDepartemen key=$field item=$value }
                                <tr>
                                  <td><input type="checkbox" name="departemen[]" class="checkthis" value="{$value->id}" /></td>
                                  <td>{$value->nama}</td>
                                  <td>{$value->keterangan}</td>
                                  <td>{$value->jumlahKaryawan}</td>
                                </tr>
                                {/foreach} -->
                              </tbody>
                            </table>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="col-md-3 control-label" for="singlebutton"> </label>
                            <div class="control col-md-1">
                              <button type="submit" class="btn btn-success" id="btnTambah">Tambah</button>
                            </div>
                            <div class="control col-md-4" id="load2">

                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
                  
                  <!--Tab Pane 2-->
                  <div class="tab-pane fade in" id="tab2">
                      <form role="form" id="formInput2" class="form-horizontal" action="{base_url()}training/proses_add_karyawan" method="post">
                        <div class="form-group">
                          <label  for="InputName" class="control-label col-md-3">Nama Training</label>
                          <div class="col-md-7">
                            <input type="text" name="nama2" class="form-control" id="InputName2" required placeholder="Cari nama Training">
                            <input type="hidden" name="id2" id="idTraining2">
                          </div>
                          <div class="col-md-1">
                            <button type="button" class="btn btn-info" id="cari"><i class="fa fa-eye"></i> Cari</button>
                          </div>
                        </div>
                        <div class="form-group" id="tableTraining">
                          <div class="col-md-3"></div>
                          <div class="table-responsive col-md-8">
                            <table class="table table-bordered table-striped">
                              <thead>
                              <tr>
                                <th>Nama Training</th>
                                <th>Tanggal Training</th>
                                <th>Jumlah Peserta</th>
                                <th>Jenis</th>
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody id="dataTraining">
                                <tr style="height: 35px;">
                                  <td colspan="5" align="center" id="load">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->